<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/materialize.css}" />
</head>
<body>
    <div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>
    <div class="row">
        <div class="col s1">1</div>
        <div class="col s1">2</div>
        <div class="col s1">3</div>
        <div class="col s1">4</div>
        <div class="col s1">5</div>
        <div class="col s1">6</div>
        <div class="col s1">7</div>
        <div class="col s1">8</div>
        <div class="col s1">9</div>
        <div class="col s1">10</div>
        <div class="col s1">11</div>
        <div class="col s1">12</div>
    </div>
    <div id="app">
        {{ message }}
    </div>
    <div v-html=""></div>
</body>
<script th:src="@{/js/vue.js}"></script>
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:inline="javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: [[${name}]]
        }
    })
</script>
</html>